{% extends 'base.html.twig' %}
{% form_theme profileForm 'bootstrap_4_layout.html.twig' %}


{% block title %}La page de l'utilisateur{% endblock %}
{% block meta %}
  <meta name="description" content="Lokisalle - creation d'utilisateur" />
{% endblock %}



{% block body %}
 <h1 class="text-info text-center">Bonjour {{user.firstname}}!</h1>
 <p><u>Votre login </u>: {{user.login}}</p>

{{form_start(profileForm)}}

    {{
        form_row(profileForm.lastname,{
        'label': 'Nom' })
    }}
    {{
        form_row(profileForm.firstname,{
        'label': 'Prénom' })
    }}
    {{
        form_row(profileForm.email,{
        'label': 'Adresse email' })
    }}
    {{
        form_row(profileForm.gender,{
        'label': 'Sexe' })
    }}
    {{
        form_row(profileForm.address,{
        'label': 'Adresse' })
    }}
    {{
        form_row(profileForm.zipCode,{
        'label': 'Code Postal' })
    }}
    {{
        form_row(profileForm.city,{
        'label': 'Ville' })
    }}
    {{
        form_row(profileForm.acceptNewletter,{
        'label': 'S\'inscrire à la newsletter' })
    }}
    

    <input type="submit" class="btn btn-primary" value="Sauvegarder mon profil">

    <a href="{{path('profile')}}" class="btn btn-secondary">Annuler</a>
    <a href="{{path('order')}}" class="btn btn-dark">voir la liste de mes commandes</a>


    {{form_end(profileForm)}}

{% endblock %}
