{% extends 'base.html.twig' %}

{% form_theme newPwdForm 'bootstrap_4_layout.html.twig' %}

{% block meta %}
  <meta name="description" content="Lokisalle - Le formulaire de réinitialisation du nouveau mot de passe" />
{% endblock %}
{% block title %}Le formulaire de réinitialisation du nouveau mot de passe{% endblock %}

{% block body %}

<h1 class="pb-3">Bonjour!</h1>
<p>Veuillez entrer un nouveau un mot de passe!</p>
{{form_start(newPwdForm)}}
{{
        form_row(newPwdForm.password,{
        'attr':{'placeholder':'Entrez un mot de passe'},
        'label': 'Mot de passe' })
    }}
    {{
        form_row(newPwdForm.confirmPassword,{
        'attr':{'placeholder':'Entrez à nouveau votre mot de passe'},
        'label': 'Confirmer votre mot de passe' })
    }}

{{form_widget(newPwdForm)}}
<input type="submit" class="btn btn-primary" value="Sauvegarder le nouveau mot de passe">
{{form_end(newPwdForm)}}
{% endblock %}