{% extends 'base.html.twig' %}

{% block title %}Mon <i class="fas fa-parking-circle-slash    "></i>{% endblock %}

{% block body %}
<h1>La liste des produits dans mon panier</h1>
    <a href="{{path('product')}}" class="btn btn-primary">Continuer mes achats</a>

    
     {% if isEmpty %}
        <p>Votre panier est vide // une image</p>

    {% else %}
        <ul>
        {% for product in products %}
            <li><a href="{{path('product_show',{'id': product.id})}}">{{product.room.title}} du {{product.checkinAt|date('d/m/Y')}} au {{product.checkoutAt|date('d/m/Y')}} ({{product.price}} €)</a></li>
        {% endfor %}
        </ul>
    
        <p>Prix total du panier : {{totalAmount}} €</p>

        <button data-toggle="modal" data-target="#modal_simple" class="btn btn-success" type="button">  Commander </button>
        <!-- Modal en cas de suppression d une salle -->
        <div id="modal_simple" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmer la commande</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Chez Lokisalle le paiement est automatiquement prélevé sur votre compte (ou pas 😉)!</p>
                <p>En cliquant sur valider et payer, vous acceptez les conditions générales de vente.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <a href="{{path('place_order')}}" class="btn btn-success">Valider et payer</a>
            </div>
            </div>
        </div> <!-- modal-bialog .// -->
        </div> <!-- modal.// -->


    {% endif %}




{% endblock %}