{% extends 'base.html.twig' %}
{% block meta %}
	<meta name="description" content="Lokisalle - Site de réservation salles de réunion en France - Paris-Lyon-Marseilles"/>
{% endblock %}

{% block title %}Lokisalle- Page d'accueil
{% endblock %}


{% block body %}
	<h1 class="text-center pb-3" id="home_title">Lokisalle : Le site idéal pour tous vos évènements professionnels !</h1>
	<p class="text-center"><img src="{{ asset('img/salle_luxembourg-12pers.jpg')}}" class="img-fluid rounded img-thumbnail"></p>
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-primary pb-3">Qui sommes-nous ?</h2>
			<p class="text-justify">Depuis 2020, Lokisalle s’est spécialisée dans la location de salles de réunion à Paris, Lyon et Marseille.
								Salles de formation, de réunion, de séminaire, de formation, ou encore de conférence,
								nous vous proposons une large palette de salles à disposition de tous les professionnels. 
								L’objectif est de permettre à chacun de créer un événement sur-mesure qui lui convient, 
								pour célébrer un lancement de produit, un team building, pour mener à bien une formation ou
								encore pour organiser un cocktail dinatoire en petit ou en grand comité. Avec notre partenaire culinaire, 
								spécialisé dans la gastronomie française, nous avons à cœur de veiller à votre satisfaction.
			</p>
		</div>
	</div>	
	<h2 class="text-primary text-center pt-3 pb-5">Nos 3 prochaines dates disponibles chez LOKISALLE</h2>
	<div class="row">
		{% for product in products %}
			<div class="col-md-4 p-2">
				<div class="card shadow">
					<h3 class="card-header text-center">{{product.room.title}}</h3>
					<img src="{{product.room.photo}}" class="img-fluid"/>
					<h5 class="card-title pt-3 text-center">
						{{product.room.address}}
						<br>

						{{product.room.zipCode}}
						{{product.room.city}}
					</h5>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<u>Catégorie
							</u>:
							{{product.room.category.name}}</li>
						<li class="list-group-item">
							<u>Date d'arrivée
							</u>: du
							{{product.checkinAt|date('d/m/Y H:i')}}</li>
						<li class="list-group-item">
							<u>Date de départ
							</u>: au
							{{product.checkoutAt|date('d/m/Y H:i')}}</li>
						<li class="list-group-item">
							<u>Tarif
							</u>:
							{{product.price}}
							€</li>	
					</ul>
					<div class="card-body text-center">
					<a href="{{path('product_show',{'id': product.id})}}" class="btn btn-primary ">Afficher le détail</a>
					</div>
				</div>	
			</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-12">
			<h1 class="text-center pt-5">Avis des clients chez Lokisalle</h1>
			<p class="text-center">
				<img src="{{asset('img/avis.png')}}" alt="avis verifies" class="p-5 img-fluid"/>
			</p>
		</div>
	</div>
	{{ include('comment/_show_list.html.twig',{comments}) }}
</div>{% endblock %}
