<div class="row">
	{% for comment in comments %}
		<div class="col-md-4 p-5">
			<div class="card" id="commentcell">
				<div class="card-header">
					<p class="p-3 card-title">
						Vos Avis
						{{comment.score}}/5
						{% if comment.score == 1 %}
							<span style="color:#0f6379;">
								<i class="fas fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="far fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="far fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="far fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="far fa-star iconcolor"></i>
							</span>
						{% elseif comment.score == 2 %}
							<span style="color:#0f6379;">
								<i class="fas fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="fas fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="far fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="far fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="far fa-star iconcolor"></i>
							</span>
						{% elseif comment.score == 3 %}
							<span style="color:#0f6379;">
								<i class="fas fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="fas fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="fas fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="far fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="far fa-star iconcolor"></i>
							</span>
						{% elseif comment.score == 4 %}
							<span style="color:#0f6379;">
								<i class="fas fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="fas fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="fas fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="fas fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="far fa-star iconcolor"></i>
							</span>

						{% elseif comment.score == 5 %}
							<span style="color:#0f6379;">
								<i class="fas fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="fas fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="fas fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="fas fa-star iconcolor"></i>
							</span>
							<span style="color:#0f6379;">
								<i class="fas fa-star iconcolor"></i>
							</span>
						{% else %}
							<p>Pas de note</p>
						{% endif %}
					</p>
				</div>
				<div class="card-body">
					<p>
						<a href="{{path('room_show',{'id': comment.room.id})}}">{{comment.room.title}}</a>
					</p>

					<p class="font-italic">{{comment.content}}</p>
					<p>{{comment.author.firstname}}</p>
					<p class="text-muted">{{comment.createdAt|date('d/m/Y H:i')}}</p>
				</div>
			</div>
		</div>
	{% endfor %}

</div>
