{% extends 'base.html.twig' %}
{% block meta %}
	<meta name="description" content="Lokisalle - Liste des commentaires"/>
{% endblock %}

{% block title %}Liste des avis
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			<h1 class="text-center pt-5">Avis des clients chez Lokisalle</h1>
			<p class="text-center">
				<img src="{{asset('img/avis.png')}}" alt="avis verifies" class="p-5 img-fluid"/>
			</p>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table">
			<thead class="thead-dark text-align-center">
				<tr>
					<th>Id_Avis</th>
					<th>L'author</th>
					<th>Nom de la salle</th>
					<th>Commentaire</th>
					<th>Note</th>
					<th>Date</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for comment in comments %}
					<tr>
						<td>{{comment.id}}</td>
						<td>{{comment.author.firstname}}</td>
						<td>{{comment.room.title}}</td>
						<td>{{comment.content}}</td>
						<td>{{comment.score}}</td>
						<td>{{comment.createdAt|date('d/m/Y H:i')}}</td>
						<td>
							<a href="{{path('comment_delete',{'id': comment.id})}}">
								<span class="text-danger">
									<i class="fas fa-trash-alt"></i>
								</span>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
