{% extends 'base.html.twig' %}
{% block meta %}
	<meta name="description" content="Lokisalle - détails de chaque commande"/>
{% endblock %}

{% block title %}Détails de chaque commande
{% endblock %}

{% block body %}
	<h1 class="text-info text-center pb-3">Détail de la commande no:
		{{order.id}}
		passée le
		{{order.createdAt|date('d/m/Y')}}</h1>
	<h2 class="text-center">Id_membre no :
		{{order.user.id}}</h2>
	<div class="table-responsive">
		<table class="table">
			<thead class="thead-dark text-align-center">
				<tr>
					<th>Nom de la salle</th>
					<th>Date d'arrivée</th>
					<th>Date de départ</th>
					<th>Prix standard (*)</th>
				</tr>
			</thead>
			<tbody>
				{% for orderItem in order.orderItems %}
					<tr>
						<td>{{orderItem.product.room.title}}</td>
						<td>{{orderItem.product.checkinAt|date('d/m/Y H:i')}}</td>
						<td>{{orderItem.product.checkoutAt|date('d/m/Y H:i')}}</td>
						<td>{{orderItem.product.price}}
							€</td>
					</tr>
				{% endfor %}
				<tr>
					<td class="text-right" colspan="3">Montant Total réel payé</td>
					<td>{{order.totalAmount}}
						€</td>
				</tr>
			</tbody>
		</table>
	</div>
	<p class="font-italic text-warning">(*) Prix des produits sans tenir compte des éventuelles réductions accordées</p>
	<td><a href="{{path('statistic')}}" class="btn btn-primary"/>Revenir sur la liste des commandes</td>
</a></td>{% endblock %}
