{% extends 'base.html.twig' %}
{% block meta %}
  <meta name="description" content="Lokisalle - création d'une salle" />
{% endblock %}
{% form_theme formRoom 'bootstrap_4_layout.html.twig' %}
{% block body %}
    
    {% if editMode %}
         <h1>Modifier la salle : {{title}} </h1>
    {% else %}
          <h1>Création d'une nouvelle salle</h1>
    {% endif %}
      
    {{form_start(formRoom)}}

    {{
        form_row(formRoom.title,{
        'attr':{'placeholder':'Entrez le nom de la salle au minimum 2 caractères'},
        'label': 'Nom de la salle' })
    }}
    {{
        form_row(formRoom.address,{
        'attr':{'placeholder':'Entrez l\'adresse'},
        'label': 'Adresse' })
    }}
    {{
        form_row(formRoom.zipCode,{
        'attr':{'placeholder':'Entrez le code postal'},
        'label': 'Code postal' })
    }}
    {{
        form_row(formRoom.city,{
        'attr':{'placeholder':'Entrez la ville'},
        'label': 'Ville' })
    }}
    {{
        form_row(formRoom.country,{
        'attr':{'placeholder':'Entrez le pays'},
        'label': 'Pays' })
    }}
    {{
        form_row(formRoom.photo,{
        'attr':{'placeholder':'Entrez une photo png, jpg,gif'},
        'id':'photoFile',
        'label': 'Photo' })
    }}

    {{
        form_row(formRoom.description,{
        'attr':{'placeholder':'Entrez une description'},
        'label': 'Description' })
    }}
    {{
        form_row(formRoom.capacity,{
        'attr':{'placeholder':'Entrez une capacité maximale'},
        'label': 'Capacité' })
    }}
    {{
        form_row(formRoom.category,{
        'label': 'Catégorie' })
    }}

    
    {% if editMode %}
    <input type="submit" class="btn btn-primary" value="Modifier la salle">
    {% else %}
    <input type="submit" class="btn btn-primary" value="Créer la salle">
    {% endif %}
    <a href="{{path('room')}}" class="btn btn-secondary">Annuler</a>


    {{form_end(formRoom)}}
{% endblock %}

{% block javascripts %}
<script>$('#photoFile').on('change', function(){ files = $(this)[0].files; name = ''; for(var i = 0; i < files.length; i++){ name += '\"' + files[i].name + '\"' + (i != files.length-1 ? ", " : ""); } $(".custom-file-label").html(name); });</script>
{% endblock %}
