{% extends 'base.html.twig' %}
{% block meta %}
	<meta name="description" content="Lokisalle - liste des salles"/>
{% endblock %}

{% block title %}
Lokisalle -	liste des salles de réunion ou conférence
{% endblock %}

{% block headScripts %}
	<script src="/js/lokisalle_room.js"></script>
{% endblock %}

{% block body %}

	<h1 class="text-center pb-5 text-info">La liste des salles de réunion</h1>

	{% if is_granted('ROLE_ADMIN') %}
		<div class="pb-3 text-center">
			<a href="{{path('room_create')}}" class="btn btn-primary">Ajouter une salle</a>
		</div>
	{% endif %}

	<div class="row">
		{% for room in rooms %}
		<div class="col-md-6 p-2">
			<div class="card shadow">
				<h3 class="card-header text-center text-success">
					{{room.title}}
				</h3>
				<div class="card-body text-center">
					<img src="{{room.photo}}" class="img-fluid"/>
					<h5 class="card-title pt-2 text-center">
						{{room.address}}
						<br>
						{{room.zipCode}}
						{{room.city}}
					</h5>
				</div>
				<div class="card-body text-justify" style="box-sizing: border-box; overflow:overlay; height:250px;">
						{{room.description}}
				</div>
				<div class="card-body text-center pb-2">
					<a href="{{path('room_show',{'id': room.id})}}" class="btn btn-primary">Afficher la salle</a>
				</div>
				{% if is_granted('ROLE_ADMIN')%}
					<div class="card-body text-center pb-2">
						<a href="{{path('room_edit',{'id': room.id})}}" class="btn btn-success">Modifier la salle</a>
						<button data-toggle="modal" data-target="#modal_simple" class="btn btn-danger js-btn-delete-room" value="{{room.id}}" type="button">
							Supprimer
						</button>
					</div>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>

	<!-- Modal en cas de suppression d une salle -->
	<div id="modal_simple" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Etes-vous sûr de vouloir supprimer ?</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Si vous supprimez la salle, vous risquez de tout supprimer aussi : 
						          les produits, les avis,... associés à cette salle!</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
					<a href="#" class="btn btn-danger js-confirm-suppression">Confirmer la suppression</a>
				</div>
			</div>
		</div>
	</div>
	<!-- fin du modal.// -->

{% endblock %}
