{% extends 'base.html.twig' %}
{% block meta %}
  <meta name="description" content="Lokisalle - liste des salles disponibles" />
{% endblock %}

{% block title %}Liste de toutes les salles disponibles{% endblock %}

{% block body %}
<h1 class="text-center pb-5 text-info">Liste de toutes les salles disponibles</h1>

{% if is_granted("ROLE_ADMIN") %}
<div class="text-center pb-5">
    <a href="{{path('product_create')}}" class="btn btn-primary">Ajouter un produit</a>
</div>
{% endif %}
<div class="row">
    {% for product in products %}   
        <div class="card mb-3 col-md-4 offset-md-1">
            <h3 class="card-header">
                <a href="{{path('product_show',{'id': product.id})}}">{{product.room.title}}</a>
            </h3>
            <div class="card-body">
            <svg xmlns="http://www.w3.org/2000/svg"
                class="d-block user-select-none"
                width="100%"
                height="200"
                aria-label="Placeholder: Image cap"
                focusable="false"
                role="img"
                preserveAspectRatio="xMidYMid slice"
                viewBox="0 0 318 180"
                style="font-size:1.125rem;text-anchor:middle">
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">
                Image cap
                </text>
            </svg>
                <h5 class="card-title pt-3 text-center">
                {{product.room.address}} <br>
                {{product.room.zipCode}} {{product.room.city}}
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><u>Catégorie </u>: {{product.room.category.name}}</li>
                <li class="list-group-item"><u>Date d'arrivée </u>: du {{product.checkinAt|date('d/m/Y')}} à 09:00</li>
                <li class="list-group-item"><u>Date de départ </u>: au {{product.checkoutAt|date('d/m/Y')}} à 18:00</li>
                <li class="list-group-item"><u>Tarif </u>: {{product.price}} €</li>
            </ul>
            <div class="card-body text-center">
                <a href="{{path('product_show',{'id': product.id})}}" class="btn btn-primary ">Afficher le détail</a>
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{path('product_edit',{'id': product.id})}}" class="btn btn-info">Modifier le produit</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}    
  </div>
<div class="row">
    
</div>


{% endblock %}
