{% extends 'base.html.twig' %}
{% block meta %}
	<meta name="description" content="Lokisalle - rechercher une salle disponible pour vos évènements, selon votre budget, nombre de personnes désirées, aux dates et lieux souhaités"/>
{% endblock %}

{% block title %}Lokissale-recherche
{% endblock %}

{% block body %}
	<h1 class="text-info text-center pb-3">Rechercher une Lokisalle pour réservation</h1>
	<form action="#" method="post">
		<div class="input-group mb-3">
			<label class="input-group-text" for="category">Catégories</label>
			<select class="form-select" id="category" name="category">
				<option value="conference" {% if category == "conference" %} selected {% endif %}>Conférence</option>
				<option value="reunion" {% if category == "reunion" %} selected {% endif %}>Réunion</option>
			</select>
		</div>
		<div class="input-group mb-3">
			<label class="input-group-text" for="city">Ville</label>
			<input placeholder="Entrez une ville" type="text" name="city" class="form-control" {% if city %} value="{{city}}" {% endif %}>
			<br>

		</div>
		<div class="input-group mb-3">
			<label class="input-group-text" for="checkinAtAfter">Date d'arrivée entre le :</label>
			<input placeholder="Date entre le " type="date" name="checkinAtAfter" class="form-control" {% if checkinAtAfter %} value="{{checkinAtAfter}}" {% endif %}><br>
		</div>
		<div class="input-group mb-3">
			<label class="input-group-text" for="checkinAtBefore">et le :</label>
			<input placeholder="et le " type="date" name="checkinAtBefore" class="form-control" {% if checkinAtBefore %} value="{{checkinAtBefore}}" {% endif %}><br>
		</div>
		<div class="input-group mb-3">
			<label class="input-group-text" for="capacity">Nombre de personnes :</label>
			<input placeholder="Capacité" type="text" name="capacity" class="form-control" {% if capacity %} value="{{capacity}}" {% endif %}><br>
		</div>
		<div class="input-group mb-3">
			<label for="price" class="input-group-text">Votre budget:
			</label>
			<input type="text" placeholder="Prix en €" name="price" class="form-control" {% if price %} value="{{price}}" {% endif %}>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Recherche</button>
		</div>
	</form>
	{% if isPost %}

		{% if products|length == 0 %}
			<div class="row">
				<p>Désolé nous n'avons pas trouvé de salle qui correspond à vos critères de recherche.</p>
				<div class="text-center"><img src="{{ asset('img/no-search-found.png') }}" class="img-fluid"></div>
			</div>
		{% else %}
			<div class="row">
				<h2>Le nombre de Lokisalles trouvées selon vos critères : {{products|length}}
				</h2>
			</div>
			<div class="row">
				{% for product in products %}
					<div class="col-md-6 p-2">
						<div class="card shadow">
							<h3 class="card-header">
								<a href="{{path('product_show',{'id': product.id})}}">{{product.room.title}}</a>
							</h3>
							<div class="card-body">
								<img src="{{product.room.photo}}" class="img-fluid"/>
								<h5 class="card-title pt-3 text-center">
									{{product.room.address}}
									<br>
									{{product.room.zipCode}}
									{{product.room.city}}
								</h5>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<u>Catégorie
									</u>:
									{{product.room.category.name}}</li>
								<li class="list-group-item">
									<u>Capacité de personnes maximum
									</u>:
									{{product.room.capacity}}</li>
								<li class="list-group-item">
									<u>Date d'arrivée
									</u>: du
									{{product.checkinAt|date('d/m/Y')}}
								</li>
								<li class="list-group-item">
									<u>Date de départ
									</u>: au
									{{product.checkoutAt|date('d/m/Y')}}
								</li>
								<li class="list-group-item">
									<u>Tarif
									</u>:
									{{product.price}}
									€</li>
							</ul>
							<div class="card-body text-center">
								<a href="{{path('product_show',{'id': product.id})}}" class="btn btn-primary ">Afficher le détail</a>
								{% if is_granted('ROLE_ADMIN') %}
									<a href="{{path('product_edit',{'id': product.id})}}" class="btn btn-info">Modifier le produit</a>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>

	{% endif %}

{% endblock %}
